.caixa {
    background-color :#4E334E;
   
}

.título {
   color: white!important ;
   font-weight : bold !important ;
}

.botao {
    border-color : white!important ;
    background-color :#4E334E;
    color : white !important ;
}

.postagens {
    background-color: white;
}
.text-decorator-none {
    text-decoration: none;
}
