.caixa {
    background-image: linear-gradient(#4E334E 50%, black ) ;
    background-image: url(../../imagens/1156309.jpg);
    height: auto;
    width: auto;

   
}

.titulo {
   color: white!important ;
   font-weight : bold !important ;
}

.botao {
    border-color : white!important ;
    background-color :#4E334E;
    color : white !important ;
}

.postagens {
    background-color: white;
}
.text-decorator-none {
    text-decoration: none;
}
